.arrow-hide[type="number"]::-webkit-inner-spin-button,
.arrow-hide[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arrow-hide[type="number"] {
  appearance: textfield;
}

.cta-btn {
  color: var(--highlight-color);
  background-color: var(--primary-color);
  cursor: pointer;
  border: 2px solid #111;
  border-radius: 10px;
}

.cta-btn:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

.cta-btn:active {
  transform: scale(0.9);
}

.cta-btn:focus {
  outline: none;
  box-shadow: 0 0 10px var(--highlight-color);
}

/* Page Styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
  width: 300px;
  text-align: center;
}

.projects a {
  color: var(--highlight-color);
  font-size: 1.5rem;
}

.projects a:hover {
  font-weight: 800;
}
