.blogs {
  max-width: 90ch;
  min-height: 70vh;
  margin: 0 auto;
}

.post {
  position: relative;
  margin-bottom: 1em;
  background-color: #333333;
  padding: 2em;
  border-radius: 0.6em;

  .post-heading {
    margin-bottom: 0.8em;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-transform: uppercase;

    &::before {
      content: "# " attr(data-id);
      margin-right: 1em;
      color: #bbbbbb;
    }
  }

  .post-body {
    line-height: 1.5;
  }
}

.pagination {
  padding-block: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;

  .button {
    cursor: pointer;
    padding: 0.6em 0.8em;
    border-radius: 0.4em;
    font-size: 1.2rem;
    border: none;

    &:hover,
    &:focus {
      outline: 3px solid var(--secondary-color);
      outline-offset: 0.2em;
    }

    &:active {
      background-color: #aeaeae;
    }
  }

  .button[aria-disabled="true"] {
    visibility: hidden;
    pointer-events: none;
  }

  #pageNo {
    font-size: 1.4rem;
  }
}
