:root {
  --primary-color: #16325b;
  --secondary-color: #78b7d0;
  --highlight-color: #ffdc7f;
  --clr-btn: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body {
  background-color: var(--clr-btn);
  color: #fff;
}

a {
  text-decoration: none;
}

hr {
  border: 2px solid #fff;
  width: 50%;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

/* Theme Colors */
.btn-grey {
  --clr-btn: #ddd;
}

.btn-cyan {
  --clr-btn: cyan;
}

.btn-purple {
  --clr-btn: purple;
}

.btn-tomato {
  --clr-btn: tomato;
}

.btn-green {
  --clr-btn: greenyellow;
}

.btn-blue {
  --clr-btn: blue;
}

.btn-orange {
  --clr-btn: orange;
}

.btn-black {
  --clr-btn: #222;
}
