/* Hero area */
.hero-area {
  text-align: center;
}

/* Page main title */
.title {
  color: var(--clr-title);
  font-size: 3rem;
  letter-spacing: 0.1rem;
  padding-block: 4rem;
  text-align: center;
}

/* To hide the arrows on number inputs */
.arrow-hide[type="number"]::-webkit-inner-spin-button,
.arrow-hide[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arrow-hide[type="number"] {
  appearance: textfield;
}

/**
* Animation @keyframes
*/

@keyframes slideUpandFade {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }

  30%,
  80% {
    opacity: 1;
    transform: translateY(-110%);
  }

  100% {
    opacity: 0;
    transform: translateY(-110%);
  }
}
