/* Main Header */
.main-header {
  background-color: var(--clr-bg--mute);
  color: var(--clr-txt);
  padding: 2em;
  box-shadow: var(--sdw-main);
  border-radius: 8px 8px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  img {
    max-width: 36px;
  }

  .heading {
    font-size: 2rem;
    font-weight: 800;
  }
}

/* Button classes */
.btn {
  cursor: pointer;
  border-radius: 8px;
  border: none;

  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  padding: 0.7em 2.2em;

  transition: 0.2s all;

  &:hover {
    box-shadow: 0 0 10px var(--highlight-color);
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: 4px solid var(--highlight-color);
  }
}

.btn-cta {
  background: var(--clr-gradient--rad);
  color: var(--clr-theme);
  fill: var(--clr-theme);
}

.btn-alt {
  background: var(--clr-accent);
  color: var(--primary-color);
  fill: var(--primary-color);
}

/* Form classes */
.utils--form {
  label {
    background-color: var(--clr-accent);
    color: var(--primary-color);
    padding: 0.5em;
    margin-bottom: 0.2em;
    border-top-left-radius: 0.4em;
  }

  input,
  textarea {
    background-color: var(--clr-accent);
    color: var(--primary-color);
    border: none;
    padding: 0.5em;
    margin-bottom: 3em;
    border-bottom-right-radius: 0.4em;

    &::placeholder {
      opacity: 0.8;
    }

    &:focus {
      outline: 2px solid var(--clr-theme);
    }
  }
}
