.die {
  background-color: #222;
  color: #aeaeae;
  box-shadow: var(--sdw-main);

  min-width: 100px;
  width: 15%;
  aspect-ratio: 1/1;

  padding: 0;
  font-size: 2rem;
  font-weight: 900;

  &[aria-pressed="true"] {
    background-color: limegreen;
  }

  &[data-value="1"] {
    background-image: url("/dice/dice-1.svg");
  }
  &[data-value="2"] {
    background-image: url("/dice/dice-2.svg");
  }
  &[data-value="3"] {
    background-image: url("/dice/dice-3.svg");
  }
  &[data-value="4"] {
    background-image: url("/dice/dice-4.svg");
  }
  &[data-value="5"] {
    background-image: url("/dice/dice-5.svg");
  }
  &[data-value="6"] {
    background-image: url("/dice/dice-6.svg");
  }
}
