/*
 * Author : Sayanta K
 * Date   : 13-09-2024
 */

* {
  font-family: 'Arial', Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}


/* Common Font Styles */
.nav-top-text {
  color: #cccccc;
  font-size: 0.85rem;
}

.nav-bottom-text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}


/* Common Border Style */
.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
  border-radius: 3%;
}


/* Navigation Bar */
#nav-bar {
  background-color: #131921;
  color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/* Logo Section */
#logo {
  background-image: url(img/amazon.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 150px;
}


/* Deliver Location Section */
.nav-address {
  display: grid;
  height: 35px;
  padding: 8px 8px 8px 0 ;
  
  box-sizing: content-box;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.nav-address-item:nth-child(1) {
  grid-row: 1 / -1;
  align-content: end;
  transform: translateX(10px) translateY(-3px);
}

.nav-address-item:nth-child(2) {
  align-content: end;
}


/* Search Box Section */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 40px;
}

.nav-search:focus-within {
  box-shadow: 0 0 10px 2px rgba(255, 153, 0, 0.7);
  outline: 3px solid rgba(255, 153, 0, 0.8);
  border-radius: 5px;
}

.nav-search-select {
  background-color: #f3f3f3;
  color: #0f1111;
  width: 55px;
  text-align: center;
  border: none;
  border-radius: 5px 0 0 5px;
}

.nav-search-select:focus {
  outline: none;
}

.nav-search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-left: 8px;
}

.nav-search-input:focus {
  outline: none;
}

.nav-search-icon {
  background-color: #febd68;
  color: #0f1111;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 0 5px 5px 0;
}


/* Language Select Section */
.nav-language {
  height: 33px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 15px 10px 0;
}

.nav-language-flag {
  font-size: 0.85rem;
}

.nav-language-text {
  font-size: 1rem;
  font-weight: bold;
}


/* Sign in Section */
.nav-sign-in {
  display: flex;
  flex-direction: column;
  padding: 8px;
}


/* Returns and Order Section */
.nav-returns-order {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
}


/* Cart Section */
.nav-cart {
  padding: 15px 10px;
}

.nav-cart-icon {
  font-size: 1.2rem;
}


/* Panel Area */
.panel {
  background-color: #232f3f;
  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.panel-all {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
}

.all-icon {
  font-size: 1.2rem;
}

.all-text {
  font-weight: 800;
}

.panel-options {
  width: 70%;
  font-size: 0.85rem;
  display: flex;
  gap: 2%;
}

.panel-options span {
  padding: 9px;
}

.panel-deals {
  font-size: 0.9rem;
  font-weight: 800;
  padding: 8px;
}


/* Main */
body {
  background-color: #e3e6e6;
}

.main-bg-area {
  height: 600px;
  width: 96%;
  background-image: url(img/main_bg_0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.fade-img {
  position: relative; 
}

.fade-img::before {
  content:""; 
  position: absolute; 
  top: 250px;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-180deg,rgba(234,237,237,0),#e3e6e6);
}


/* Cards Section */
.card-area {
  position: relative;
  top: -320px;
  margin-bottom: -320px !important;
  margin: 0 auto;
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 360px;
  height: fit-content;
  background-color: #ffffff;
  padding-top: 30px;
}

.card h2 {
  color: #0f1111;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 0 20px;
}

.card a {
  color: #007185;
  text-decoration: none;
}

.card a:hover {
  color: #c7511f;
  cursor: pointer;
}

.card-quad-img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.card-quad-img img {
  max-width: 150px;
}

.card-quad-img p {
  font-size: 0.8rem;
  color: #0f1111;
  text-overflow: ellipsis;
  text-wrap: wrap;
}

.card-footer {
  padding: 20px;
  font-size: 0.9rem;
}


/* Sign in recommend section */
.sign-in-recommend {
  background-color: white;
  text-align: center;
  margin-top: 30px;
  padding: 40px 0;
  border: 2px solid #dddddd;
  border-radius: 5px;
}

.sign-in-title {
  font-size: 0.8rem;
}

.sign-in-new {
  font-size: 0.7rem;
}

.sign-in-button {
  background-color: #ffd781;
  display: block;
  width: 230px;
  margin: 10px auto;
  border: 2px solid #ffc64c;
  border-radius: 3px;
  text-decoration: none;
}

.sign-in-button span {
  color: #000;
  cursor: pointer;
  display: block;
  height: 30px;
  font-size: 0.9rem;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
  text-shadow: 0 1px 0 #ffe093;
}

.sign-in-new a {
  color: #007185;
  text-decoration: none;
}

.sign-in-new a:hover {
  color: #c7511f;
}


/* Footer */
.back-to-top {
  background-color: #37475a;
  color: #ffffff;
  height: 50px;
  text-align: center;
  font-size: 0.85rem;
  padding: 15px 0;
}

.footer-links-pane {
  background-color: #232f3f;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  border-bottom: 1px solid #3a4553;
}

.footer-links-pane p {
  font-size: 1rem;
  font-weight: 700;
}

.footer-links-pane a {
  text-decoration: none;
  display: block;
  color: #dddddd;
  font-size: 0.85rem;
  padding-top: 10px;
}

.footer-links-pane a:hover {
  text-decoration: underline;
}

.footer-logo {
  background-color: #232f3f;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-logo {
  height: 35px;
  width: 100px;
  background-image: url(img/amazon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-end-panel {
  background-color: #131a22;
  color: #dddddd;
  height: 80px;
  font-size: 0.8rem;
  padding-top: 20px;
}

.footer-end-panel a {
  text-decoration: none;
  color: #dddddd;
}

.footer-end-panel a:hover{
  text-decoration: underline;
}

.footer-links{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-copyright {
  text-align: center;
  display: block;
  padding-top: 5px;
}