/* Sprite CSS */
.icon-dark {
  background: url("../img/sprite.png") no-repeat;
  display: inline-block;
}

.icon-light {
  background: url("../img/sprite.png") no-repeat;
  display: inline-block;
  filter: invert(100%);
}

.icon-small {
  width: 48px;
  height: 48px;
  zoom: 50%;
}

.icon-large {
  width: 48px;
  height: 48px;
  zoom: 80%;
}

.icon-extra-large {
  width: 48px;
  height: 48px;
  zoom: 150%;
}

.icon-thunder {
  background-position: 0 0;
}

.icon-document {
  background-position: -48px 0;
}

.icon-insurance {
  background-position: -96px 0;
}

.icon-travel {
  background-position: -144px 0;
}

.icon-tax {
  background-position: -192px 0;
}

.icon-message {
  background-position: -240px 0;
}

.icon-inbox {
  background-position: 0 -48px;
}

.icon-unread {
  background-position: -48px -48px;
}

.icon-archive {
  background-position: -96px -48px;
}

.icon-album {
  background-position: -144px -48px;
}

.icon-vacation {
  background-position: -192px -48px;
}

.icon-anniversary {
  background-position: -240px -48px;
}

.icon-university {
  background-position: 0 -96px;
}

.icon-statistics {
  background-position: -48px -96px;
}

.icon-finances {
  background-position: -96px -96px;
}

.icon-call {
  background-position: -144px -96px;
}

.icon-trip {
  background-position: -192px -96px;
}

.icon-event {
  background-position: -240px -96px;
}

.icon-gift {
  background-position: 0 -144px;
}

.icon-play-date {
  background-position: -48px -144px;
}

.icon-network {
  background-position: -96px -144px;
}

.icon-location {
  background-position: -144px -144px;
}

.icon-edit {
  background-position: -192px -144px;
}

.icon-chat {
  background-position: -240px -144px;
}

.icon-search {
  background-position: 0 -192px;
}

.icon-cog {
  background-position: -48px -192px;
}

.icon-book {
  background-position: -96px -192px;
}

.icon-heart {
  background-position: -144px -192px;
}

.icon-chevron-right {
  background-position: -192px -192px;
}

.icon-chevron-down {
  background-position: -240px -192px;
}
