:root {
  --color-primary: #046;
  --color-secondary: #0074ad;
  --color-background: #efefef;
  --color-text-description: #a0a0a0;
  --color-icon-bg: tomato;
  --color-icon-document: #ffa500;
  --color-icon-event: #2db160;
  --color-icon-mail: #db513d;
  --color-icon-album: #b066d1;
  --spacing: clamp(0.3125rem, -3.125rem + 3.125vw, 0.625rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* debug classes */
.hidden {
  display: none;
}

.select {
  background-color: darkkhaki;
}

/* global styles */
body > aside h2 {
  font-weight: bold;
  font-size: 0.7rem;
  font-size: clamp(0.7rem, 0.5826rem + 0.3478vw, 1rem);
}

body > aside h3 {
  font-size: 0.7rem;
  font-size: clamp(0.7rem, 0.5826rem + 0.3478vw, 1rem);
  font-weight: normal;
}

.user-image {
  border-radius: 50%;
}

ul {
  list-style: none;
}

/* layout styles */
body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template:
    "sidebar header" 50px
    "sidebar main" 1fr
    "sidebar footer" 30px / 300px 1fr;
}

/* search bar */
body > header {
  grid-area: header;
  height: 50px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 5px 20px;
}

body > header form {
  height: 40px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  flex-basis: 1200px;
  flex-grow: 1;
  padding: 12px 16px;
}

.user-image-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

body > header button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

#search-bar {
  width: 100%;
  border: none;
  background-color: #fff;
}

#search-bar:focus {
  outline: none;
}

#search-icon {
  cursor: pointer;
}

/* navigation pane */
aside {
  grid-area: sidebar;
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing);
  padding: 10px 0;
}

aside > header {
  display: flex;
  column-gap: 14px;
  padding: 5px 20px;
}

aside > article {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 5px 30px;
  font-size: 1rem;
}

aside > nav ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing);
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing);
  padding: var(--spacing) 20px 0;
}

.section-elements li {
  display: flex;
  gap: 20px;
  padding: 5px 25px 5px 30px;
}

.section-elements li h3 {
  flex-grow: 1;
}

/* main content */
main {
  grid-area: main;
  background-color: var(--color-background);
}

/* hero area */
#hero-area {
  background-image: url("../img/cover.png");
  background-repeat: no-repeat;
  color: #fff;
  height: 200px; /* TODO: make this dynamic */
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 30px;
}

#hero-area header {
  flex-grow: 1;
}

#hero-area header h2 {
  font-size: 1.5rem;
  font-weight: normal;
  word-spacing: 0.5rem;
}

#hero-area header p {
  font-size: 1rem;
  line-height: 2;
}

#hero-area div {
  text-align: center;
  padding: 20px 15px;
}

#hero-area div h2 {
  font-size: 2.25rem;
  font-weight: normal;
}

#hero-area div p {
  font-size: 1.25rem;
  vertical-align: top;
  display: inline-block;
}

/* cards area */
#cards-area {
  display: flex;
  column-gap: 30px;
  padding: 20px 15px;
}

#cards-area article {
  background-color: #fff;
  flex-grow: 1;
  display: grid;
  grid-template:
    "icon title" 1fr
    "icon description" 1fr / 1fr max-content;
  padding: 20px 15px;
  position: relative;
  z-index: 1;
}

.icon-bg {
  grid-area: icon;
  position: relative;
  margin: 15px;
}

.icon-bg::before {
  content: "";
  background-color: var(--color-icon-bg);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#icon-container-document {
  background-color: var(--color-icon-document);
}

#icon-container-event {
  background-color: var(--color-icon-event);
}

#icon-container-mail {
  background-color: var(--color-icon-mail);
}

#icon-container-album {
  background-color: var(--color-icon-album);
}

#cards-area article div {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

#cards-area article h2 {
  grid-area: title;
  color: var(--color-secondary);
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-size: 1.25rem;
  font-weight: normal;
}

#cards-area article p {
  grid-area: description;
  color: var(--color-text-description);
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

/* TODO: content cards */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
}

.event {
  grid-row: span 8;
}

.recent-documents {
  grid-row: span 6;
}

.spending {
  grid-row: span 6;
}

/* TODO: footer */
footer {
  grid-area: footer;
  background-color: var(--color-background);
  height: 30px;
}
