* {
    box-sizing: border-box;
    padding: 0;
    border-radius: 15px;
}

body {
    background-color: #d2d2d2;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #d2d2d2;
    height: 500px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "a a a c c c c c c c c c"
        "f f f f f f f f f f f f"
    ;
}

.header{
    grid-area: h;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    grid-area: a;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    margin-right: 10px;
}

.content-area {
    grid-area: c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
}

.content {
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: f;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}