.main--about {
  display: flex;
  justify-content: center;
  gap: 4em;
  padding: 3em;
}

.main--section-heading {
  font-size: 2rem;
  margin-bottom: 1em;
}

.main--text-wrapper {
  max-width: 90ch;
}

.main--text {
  margin-bottom: 2em;
  font-size: 1.3rem;
  line-height: 1.5;
}
