* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  min-block-size: 100vh;
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: hsl(1deg 70% 50%);
}

main {
  padding-bottom: 2rem;
  background: linear-gradient(120deg, hsl(260deg 80% 50%), hsl(0deg 100% 50%));
}

.details {
  margin-block: 2rem;
}

.page-heading {
  color: white;
  text-align: center;
  padding-top: 1rem;
}

.details-summary {
  color: whitesmoke;
  background-color: tomato;

  cursor: pointer;
  user-select: none;
  position: relative;

  padding-inline: 3rem;
  padding-block: 1rem;
  margin-inline: 2rem;

  font-weight: 600;
}

.details-summary::marker {
  content: none;
}

.details-summary::before {
  content: ">";
  position: absolute;
  inset-inline-start: 1rem;
}

.details-summary::after {
  content: "<";
  position: absolute;
  inset-inline-end: 1rem;
}

.details[open] .details-summary::before {
  rotate: 90deg;
}

.details[open] .details-summary::after {
  rotate: -90deg;
}

.details-content {
  margin-inline: 2rem;
  background: rebeccapurple;
  padding: 1rem;
  font-size: 0.925rem;
}

.details-content p {
  color: white;
  margin-block-end: 1rem;
}
