.hero-area {
  min-height: 30rem;
  text-align: center;
  line-height: 3rem;
}

.hero-area h1 {
  font-size: 3rem;
  padding-block: 60px;
}

.button {
  width: 120px;
  aspect-ratio: 1/1;
  margin: 10px;

  display: inline-block;
  cursor: pointer;
  background-color: var(--clr-btn);

  border: 2px solid black;
  border-radius: 50%;
}

.bottom-text {
  text-align: center;
  font-weight: 400;
  line-height: 4rem;
}
