.recipe__result {
  h1,
  h2,
  h3 {
    font-size: 1.6rem;
    margin-block: 1.4em;
  }

  p {
    margin-block: 1.2em;
    font-size: 1.1rem;
    line-height: 1.6;
  }

  p strong {
    font-size: 1.2rem;
  }

  p strong:not(:first-child) {
    margin-left: 1em;
  }

  ul,
  ol {
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }

  li {
    margin-bottom: 1em;
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--clr-txt);
  }

  li::marker {
    font-weight: 700;
  }
}
