.wrapper__main {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: repeat(12, 1fr);
}

.form,
.meme {
  grid-row: 2;
}

.form {
  grid-column: 8 / -2;
  place-self: start;
  margin-block: 4em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  width: 100%;

  label,
  input {
    color: var(--clt-txt);
    background: var(--clr-bg--mute);
    font-size: 1rem;
    padding: 1em;
    border: 1px solid #aeaeae;
    border-radius: 8px;
  }

  label {
    grid-column: 1;
    font-weight: 600;
    text-align: center;
  }

  input {
    grid-column: 2 / -1;
  }

  button {
    order: -1;
    grid-column: 1/-1;
  }
}

.meme {
  grid-column: 2 / span 5;
  margin-bottom: 4em;
  position: relative;

  img {
    margin: 0 auto;
    width: 100%;
    border: 1px solid #aeaeae;
  }

  span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1, 1.2);

    color: #fff;
    filter: drop-shadow(0 0 2px #000);
    letter-spacing: 1px;

    font-size: 2rem;
    font-weight: 800;
    font-family: Impact, sans-serif;

    white-space: nowrap;
    text-transform: uppercase;
    text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
  }

  span.top {
    top: 20px;
  }

  span.bottom {
    bottom: 20px;
  }
}
