.wrapper {
  max-width: 1000px;
}

.wrapper__main {
  margin-top: 8em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 4em;
}

.form {
  grid-column: 7 / -1;
  place-self: start;
  display: grid;
  gap: 1.4em;
  width: 100%;

  label,
  input {
    color: var(--clt-txt);
    font-size: 1rem;
  }

  label {
    padding-left: 1em;
    font-weight: 600;
    white-space: nowrap;
    display: grid;
    gap: 0.8em;
    box-shadow: -2px 0 0 0 #aeaeae;

    &:focus-within {
      box-shadow: -10px 0 0 0 #aeaeae;
    }

    input {
      background: var(--clr-bg--mute);
      flex: 1 1 auto;
      padding: 1em;
      border: 1px solid #aeaeae;
      border-radius: 8px;
    }
  }

  button {
    order: -1;
    grid-column: 1/-1;
  }
}

.meme {
  grid-column: 1 / span 6;
  grid-row: 1;
  position: relative;

  img {
    margin: 0 auto;
    width: 100%;
    border: 1px solid #aeaeae;
    object-fit: cover;
  }

  span.caption {
    display: inline-block;
    color: #fff;
    filter: drop-shadow(0 0 2px #000);
    letter-spacing: 1px;

    font-size: 1.4rem;
    font-weight: 800;
    font-family: Impact, sans-serif;

    white-space: nowrap;
    text-transform: uppercase;
    text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
    cursor: grab;
  }
}

.overlay {
  user-select: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
