/* Main Layout */
main.wrapper {
  background-color: #fafaf8;
  color: #000;
  margin-block: 2em;
  padding-bottom: 2em;
  border-radius: 8px;
}

.inner-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-block: 2em;
}

/* Component Styles*/
.title {
  margin-bottom: 1em;
}

.main-header {
  background-color: #fff;
  padding: 2em;
  box-shadow: var(--sdw-main);
  border-radius: 8px 8px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  img {
    max-width: 40px;
  }

  .heading {
    font-size: 2rem;
    font-weight: 800;
  }
}

/* List Style */
.list {
  list-style-type: none;
}

.list.list-inside {
  list-style-position: inside;
}

.list.list-disc {
  list-style-type: disc;
}

.list.list-wrap {
  max-height: 10lh;
  display: inline flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0 2em;
}

/* List Item Style */
.list-item {
  color: #444;
  padding: 0.4em 0.6em;
}

.list-item::marker {
  font-weight: 700;
}

/* Animation */
.anim-slide {
  animation: slide-top 0.4s ease-in-out;
}

@keyframes slide-top {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
