* {
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: #777;
  text-align: center;
}

h1 {
  font-weight: normal;
}

canvas {
  background-color: lightgray;
  border-bottom: 2px solid black;
}
