.hero-area p {
  line-height: 3rem;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
}

#chances {
  font-weight: 800;
}

#guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block: 50px;
}

#guess-lable {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.15rem;
}

#guess-input,
#guess-btn,
#reset-btn {
  width: 250px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
}

#guess-input {
  border: none;
  border-radius: 10px;
}

#guess-input:focus {
  outline: none;
  box-shadow: 0 0 10px var(--highlight-color);
}

#guess-btn,
#reset-btn {
  font-size: 1.5rem;
  font-weight: 800;
}

#previous-guesses {
  font-style: oblique;
}

#guesses-list span {
  min-width: 5ch;
  display: inline-block;
  font-size: 1.2rem;
  padding: 1rem;
  margin-inline: 0.5rem;
  background-color: black;
  border-radius: 50%;
}

#message {
  font-size: 2rem;
  font-weight: 800;
  margin-block: 20px;
}

.success {
  color: greenyellow;
  -webkit-text-stroke: 1px yellow;
  -moz-text-stroke: 1px yellow;
}

.failure {
  color: red;
}

.hot {
  color: darkred;
}

.cold {
  color: aquamarine;
}
